@use "../abstract/" as *;
@use "../base/" as *;

.footer{
    &_wrapper{
        padding: 2.5rem 0;
        
        border-top: 1px solid $clr-gray;
        @include gridEven(1, 5rem);
    }
    img{
        width: fit-content;
        margin: 0 auto;
    }
    &_nav{
        @include gridEven(1,2rem);
        &_item{
            font-size: 2rem;
            padding: 0 2rem;
     
        h4{
            @include flexbetween;
            i{
                font-size: 2rem;
                transition: .5s ease;
                &.open{
                    transform: rotate(180deg);
                    transition: .5 ease;
                }
            }
        }
        ul{
            margin-left: 2rem;
            max-height: 0rem;
            overflow: hidden;
            transition: .5s ease;
            li{
                margin-top: 2rem;
                a{
                    color: gray;
                }
            }
            &.open{
                max-height: 50rem;
                transition: .5s ease;
            }
        }
      
    }

    img{
        text-align: center;
    } 
    
    &_icon{
        ul{
        color: $clr-primary;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        li{
            padding-left: 3rem;
            padding-right: 3rem;
            font-size: 3rem;
        }
    }
    &_credits{
        text-align: center;
        font-size: 1.5rem;
    }
}


@include mediaquery($break-lg){
       &_wrapper{
        @include gridEven(4,1rem);
        position: relative;
       }
       &_nav{
        @include gridEven(3,1rem);
        &_item{
            h4{
                i{
                    display: none;

                }
              
            }
            ul{
                max-height: 50rem;
                margin-left: 0rem;
            }
        }
        &_credits{
            position: absolute;
            transform: translate(90px,100px);
        }
       }
}

}